*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 4px solid white;
    background-color: rgb(0, 25, 46)
}
h1{
    color: white;
    margin: 0;
    font-weight: bold;
    font-style: italic;
}
.contenido-junto{
    display: flex;
    flex-grow: 1;
    
}

#sidebar{
    height: 100vh;
    width: 300px;
    background-color: #FFE600;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#Links{
    margin-bottom: 20px;  
}

#Links h3{
    color: black;
    margin-bottom: 20px;
}

#Links ul {
    list-style: none;
}

#Links ul li{
    margin-bottom: 10px;
}

#Links ul li a{
    display: block;
    text-decoration: none;
    color: black;
    background-color: rgb(0,0,0,0.2);
    padding: 10px;
    border-radius: 5px;

}


#descripccion {
    background-image: url(https://trinity.duke.edu/sites/trinity.duke.edu/files/styles/low_landscape_100_width/public/images/Computer%20Science%2050th%20Anniversary-v1.jpg?h=e995465f&itok=lup0JhNf);
    flex-grow:1;
    background-color: #130808;
    color: #fa522e;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size:cover;
    background-position: center;

}

#descripccion h2{
    margin-bottom: 15px;
    color: black;
}

#descripccion p{
    margin-bottom: 15px;
    color: black;

    text-align: column;
}

footer{
    background-color: rgb(0, 25, 46);
    color: white;
    text-align: center;
    padding: 10px;

}

